@model Hotel.Models.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminDashLayout2.cshtml";
}


<div class="booking_ocline">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="book_room">
                    <h1>Book a Room Online</h1>
                    <form class="book_now" asp-action="Add"">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.ArrivalDate" class="control-label">Check In Date</label>
                            <input asp-for="ArrivalDate" id="ArrivalDate" type="date" class="form-control" />
                            <span asp-validation-for="@Model.ArrivalDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.DateOfExit" class="control-label">Check Out Date</label>
                            <input asp-for="DateOfExit" id="DateOfExit" type="date" class="form-control" />
                            <span asp-validation-for="@Model.DateOfExit" class="text-danger"></span>
                            <script>
                                const today = new Date();
                                const year = today.getFullYear();
                                const month = String(today.getMonth() + 1).padStart(2, '0');
                                const day = String(today.getDate()).padStart(2, '0');
                                const formattedDate = `${year}-${month}-${day}`;
                                var startDate = document.getElementById('ArrivalDate').setAttribute('min', formattedDate);
                                var endDate = document.getElementById('DateOfExit').setAttribute('min', formattedDate);
                                // if (startDate > endDate) { alert('End date must be after the start date'); return false; }
                            </script>
                        </div>
                        <div class="form-group">
                            <select asp-for="@Model.ModeOfOrder" class="form-control" hidden>
                                <option selected value="Online">Online</option>
                            </select>
                            <span asp-validation-for="@Model.ModeOfOrder" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.WithCar" class="control-label"></label>
                            <select asp-for="@Model.WithCar" class="form-control">
                                <option selected value="">--Please select--</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                            <span asp-validation-for="@Model.WithCar" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.RoomId" id="RoomId" class="form-control" hidden />
                            <span asp-validation-for="@Model.RoomId" class="text-danger"></span>
                        </div>
                        <script>
                            var object = localStorage.getItem('object');
                              function submitForm() {
                              document.querySelector("#RoomId").value = object;
                            }

                            function reset(){
                                const form = document.getElementById('AddR');
                                form.reset();
                            }
                        </script>

                        <div class="form-group">
                            <label asp-for="@Model.CarRegNo" class="control-label"></label>
                            <input asp-for="@Model.CarRegNo" class="form-control" />
                            <span asp-validation-for="@Model.CarRegNo" class="text-danger"></span>
                        </div>
                        <div class="row m-3">
                        <div class="form-group col">
                            <input type="submit" onclick="submitForm()" value="Create" class="btn btn-primary" />
                        </div>
                        <script>

                        </script>
                        <div class="col">
                            <a asp-action="Index"><button class="btn btn-secondary">Back to List</button></a>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
